[Desktop Entry]
Type=Application
Name=TazTerm
GenericName=Terminal
GenericName[fr]=Terminal
Comment=Lightweight GTK3/VTE terminal with splits
Comment[fr]=Terminal GTK3/VTE léger avec panneaux divisés
Exec=tazterm
Icon=tazterm
StartupWMClass=tazterm
Terminal=false
Categories=System;TerminalEmulator;
